.register-container {
    background: linear-gradient(135deg, #1c513b, #0f3525);
    border-radius: 12px;
    padding: 35px 25px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    max-width: 450px;
    margin: 30px auto;
  }
  
  h2 {
    color: #aed9c6;
    font-weight: 600;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
  }
  