.plant-form {
    background: linear-gradient(135deg, #1e4e39, #103428);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    margin-bottom: 15px;
    color: #aed9c6;
  }
  
  button {
    width: 48%;
    margin-top: 15px;
  }
  
  button + button {
    margin-left: 4%;
  }
  